{% assign collection = site.collections | find: "label", {{include.collection}} %}
{% if collection and collection.docs %}
    {% assign docs = collection.docs %}
    {% if include.sort-by %}
        {% assign docs = docs | sort: {{include.sort-by}} %}
    {% endif %}
    {% if include.sort-order == "desc" %}
        {% assign docs = docs | reverse %}
    {% endif %}
{% endif %}

<div class="articles">
    {% if docs %}
        {% for post in docs limit:{{include.limit}} %}
        {% if post.link %}
            {% assign location = post.link %}
            {% assign target = "_blank" %}
        {% elsif collection.output %}
            {% assign location = post.url %}
            {% assign target = "_self" %}
        {% endif %}
        {% if post.summary %}
          {% assign excerpt = post.summary %}
        {% else %}
          {% assign excerpt = post.description %}
        {% endif %}
            <article>
                <div class="article-header">
                        <a href="{{location}}" target="{{target}}">
                            <h2>{{ post.title }}</h2>
                        </a>
                    </div>
                    <div class="article-content">
                        {% if post.image and post.image-alt %}
                            {% if post.link %}
                                <a href="{{post.link}}"><img class="article-image" src="{{post.image}}" alt="{{post.image-alt}}"></a>
                            {% else %}
                                <img class="article-image" src="{{post.image}}" alt="{{post.image-alt}}">
                            {% endif %}
                            <!-- <div class="article-image" style="background-image: url({{post.image}})">    
                            </div> -->
                            <!-- <a href="{{post.link}}"><img class="article-image" src="{{post.image}}" alt="{{post.image-alt}}"></a> -->
                            <!-- <img class="article-image" src="{{post.image}}" alt="{{post.image-alt}}"> -->
                        {% endif %}
                        <div class="article-excerpt">
                            <p>
                               {{ excerpt }}
                            </p>
                        </div>
                    </div>
                    <hr />
                </article>
            
        {% endfor %}
    {% endif %}
    
</div>
