<footer>
  <div>
    <div>
      <a href="https://github.com/py-why/governance" target="_blank"
        >Governancce</a
      >
    </div>
  </div>

  <div>
    <div>
      <a
        href="https://github.com/py-why/governance/blob/main/CODE-OF-CONDUCT.md"
        target="_blank"
        >Code of Conduct</a
      >
    </div>
  </div>
  <div>
    <div>
      <a
        href="https://github.com/py-why/governance/blob/main/CHARTER.md"
        target="_blank"
        >Charter</a
      >
    </div>
  </div>
  <div>
    <div>
      <a
        href="https://github.com/py-why/governance/blob/main/STEERING-COMMITTEE.md"
        target="_blank"
        >Steering Committee</a
      >
    </div>
  </div>
  <div>
    <div>
      <a
        href="https://github.com/py-why/governance/blob/main/ANTITRUST.md"
        target="_blank"
        >Antitrust Policy</a
      >
    </div>
  </div>
  <div>
    <div>
      <a
        href="https://github.com/py-why/governance/blob/main/TRADEMARKS.md"
        target="_blank"
        >Trademarks</a
      >
    </div>
  </div>
  <div>
    <div>
      <a href="https://discord.gg/cSBGb3vsZb" target="_blank">Community</a>
    </div>
  </div>
</footer>
