<div class="header-container">
  <header>
    <div class="site-title">
      <a href="/">
        <img src="assets/pywhy-logo.png" alt="PyWhy Logo" />
        <h1>{{ site.title }}</h1>
      </a>
    </div>

    <nav role="navigation">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="install.html">Install</a></li>
        <li>
          <a href="learn/developer-resources.html" aria-haspopup="true"
            >Learn &#x25BE;</a
          >
          <ul class="dropdown" aria-label="submenu">
            <li><a href="learn/case-studies.html">Case Studies</a></li>
            <li>
              <a href="learn/developer-resources.html">Developer Resources</a>
            </li>
          </ul>
        </li>
        <li><a href="news.html">News</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="https://github.com/py-why/dowhy" target="_blank">GitHub</a></li>
      </ul>
    </nav>
  </header>
</div>
